
/******GENERAL***********/

body {
	width: 100%;
	height: 100%;
	background-color: #ff4931;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: background-color 0.5s ease;
    line-height:1;
    position:absolute;
}

body.noscroll {
	overflow:hidden;
	
}

.wrapper{
	position:relative;
}

.overlay{
	position:relative;
}

* {
		font-family: "Trench Sans Light 4", Helvetica; 
			}

a:link {
	text-decoration: none;
}


 .nav {
		position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    color: #ff4931;
    background: none;
    z-index: 1003;
    overflow: hidden;
    backface-visibility: hidden;
    background-color: transparent;
 		opacity:0;
 } 
 
  nav#sticker {
 	z-index: 2000;
	width: 100%;
	position:relative;
 }
 
/*Hamburger Icon and Animation*************/

.pullright {
	position: absolute;
	top:15px;
	z-index: 10000;
	width:100%;
}

.pullright a.hamburger {
		display:inline-block;
		width: auto;
    height: 30px;
    padding: 5px;
    z-index: 100000;
    cursor: pointer;
    position: absolute;
    right: 11.5%;
    
}

.pullright a.hamburger .icon-bar {
	width: 30px;
    height: 1px;
    margin: 10px 0;
    background: #fff;
    -moz-transition: top 0.3s;
    -o-transition: top 0.3s;
    -webkit-transition: top 0.3s;
    transition: top 0.3s;
}

.pullright a.hamburger .icon-bar:before {
	top: 8px;
	    content: '';
    display: block;
    width: 30px;
    height: 1px;
    background: #fff;
    position: absolute;
    z-index: -1;
    -moz-transition: top 0.3s;
    -o-transition: top 0.3s;
    -webkit-transition: top 0.3s;
    transition: top 0.3s;
} 

.pullright a.hamburger .icon-bar:after {
	top: 22px;
	    content: '';
    display: block;
    width: 30px;
    height: 1px;
    background: #fff;
    position: absolute;
    z-index: -1;
    -moz-transition: top 0.3s;
    -o-transition: top 0.3s;
    -webkit-transition: top 0.3s;
    transition: top 0.3s;
}

nav a.hamburger:hover .icon-bar:before {
	top: 6px;
}

nav a.hamburger:hover .icon-bar:after {
	top: 24px;
}
 
 
 
/*"Iris Sprague" Nav Link**********/ 
 
 .nav .name {
 		width: auto;
    height: auto;
    z-index: 1000;
    display: block;
    position: absolute;
    top: 18px;
    left: 10.9%;
    font-size: 1.2em;
    font-family: "Trench Sans Light 4"; 
 	
 }
  
.nav .name a {
	color:#fff;
	height: auto;
	line-height:20px;
}

.nav .name a:after {
	content: "";
	display:block;
  width: 0;
  height: 1px;
  visibility: hidden;
	background: transparent;
  -webkit-transition: width 0.3s ease, background 0.3s ease;
  transition: width 0.3s ease, background 0.3s ease;
}

.nav .name a:hover:after {
	visibility: visible;
 	width:100%;
  background: #fff;
}


.middleNav ul li, .middleNav ul li a:link, .middleNav ul li:visited {
				color: #000; !important
				opacity: 0.7;
				text-decoration: none;
				font-size:12pt;
			}
			
.middleNav ul li a:after {
	content: "";
	display:block;
  width: 0;
  height: 1px;
  visibility: hidden;
	background: transparent;
  -webkit-transition: width 0.3s ease, background 0.3s ease;
  transition: width 0.3s ease, background 0.3s ease;
}

.middleNav ul li a:hover:after {
	visibility: visible;
 	width:100%;
  background: #000;
}
			

footer .social-links ul {
		list-style-type: none;
		margin: 56px 0 0 8%;
		padding:0;
	}
	
footer .social-links ul li {
	padding-bottom: 10px;
}	
	
footer .social-links ul li a {
	color: #FF4931;
	font-size: 10pt;
	display:inline-block;
	
}

footer .social-links ul li a:after {
	content: "";
	display:block;
  width: 0;
  height: 1px;
  visibility: hidden;
	background: transparent;
  -webkit-transition: width 0.3s ease, background 0.3s ease;
  transition: width 0.3s ease, background 0.3s ease;
}

footer .social-links ul li a:hover:after {
	visibility: visible;
 	width:100%;
  background: #ff4931;
}

footer #copyright {
	position: relative;
	bottom:99px;
	right:152px;
	color:#000;
	float:right;
	font-size:10pt;
}



/********************************************************/

/*********************
OVERLAY
**********************/

/*Huge Inc styled overlay effect**********/

/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255,255,255,1);
	z-index:9999;
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 25px;
	height: 25px;
	position: absolute;
	right: 12%;
	top: 18px;
	overflow: hidden;
	border: none;
	background: url(../img/x.png) no-repeat center center;
	background-size:cover;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100000;
	opacity: 0.5;
	padding:10px;
}

.overlay .overlay-close:hover {
	opacity: 1;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	font-size: 45px;
	z-index: 2000;
  width: 100%;
  height: 100%;
	
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin:auto;
	display: inline-block;
	position: relative;
	top:50%;
	-webkit-transform: translate(0,-50%);
	-moz-transform:translate(0,-50%);
	-ms-transform:translate(0,-50%);
	transform:translate(0,-50%);
	
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	margin-bottom: 30px;
	min-height: 54px;
	font-family: "Trench Sans Light 4";
}


/*Effect*****/

.overlay {
	opacity: 0;
	visibility: hidden;
	position:fixed;
	overlay-y:scroll;
	top:0;
	bottom:0;
	left:0;
	right:0;
	-webkit-transition: opacity 0.2s, visibility 0s 0.2s;
	-o-transition: opacity 0.2s, visibility 0s 0.2s;
	-moz-transition: opacity 0.2s, visibility 0s 0.2s;
	transition: opacity 0.2s, visibility 0s 0.2s;
}

.overlay.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	transition: opacity 0.2s;
	overflow-y:scroll;
	height:100%;
}

.overlay nav {
	perspective: 1200px;
}
.overlay nav ul {
	opacity: 0.4;

}

.overlay.open nav ul {
	opacity: 1;
}

.overlay.close nav ul {
	
	opacity: 1;
	-o-transform: opacity 1s;
	-moz-transform: opacity 1s;
	-webkit-transform: opacity 1s;
	transform: opacity 1s;
}

.overlay-menu a {
	display:inline-block;
	color: #ff4931;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;	
	line-height: 55px;
}

.overlay-menu a:after {
	content: "";
	display:block;
  width: 0;
  height: 1px;
  visibility: hidden;
	background: transparent;
  -webkit-transition: width 0.3s ease, background 0.3s ease;
  transition: width 0.3s ease, background 0.3s ease;
}

.overlay-menu a:hover:after {
	visibility: visible;
 	width:100%;
  background: #ff4931;
}


.bottomBorder.effect {
	opacity: 0;
	visibility: hidden;
	-o-transition: opacity 0.3s, visibility 0s 0.3s;
	-moz-transition: opacity 0.3s, visibility 0s 0.3s;
	-webkit-transition: opacity 0.3s, visibility 0s 0.3s;
	transition: opacity 0.3s, visibility 0s 0.3s;
}

header, .wrapper {
	opacity: 1;
	visibility: visible;
	-o-transition: opacity 0.2s, visibility 0s 0.2s;
	-moz-transition: opacity 0.2s, visibility 0s 0.2s;
	-webkit-transition: opacity 0.2s, visibility 0s 0.2s;
	transition: opacity 0.2s, visibility 0s 0.2s;
}

.moving {
	position:absolute;
	width:100%;
	height:100%;
	top:110%;
	opacity:0;
}

.appearing {
	position:absolute;
	width:100%;
	height:100%;
	
	opacity:0;
}


/************************
 SEARCH FUNCTION
 ************************/
input, textarea {
	  -webkit-font-smoothing: antialiased;  
    
}

input[type=submit] {
	  -webkit-appearance: button;
    cursor: pointer;
}

/*********************
TextArea
**********************/

textarea {
	 resize: none;
   border: none;
	-webkit-appearance: textarea;
    background-color: white;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    flex-direction: column;
    resize: auto;
    cursor: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: 1px solid;
    padding: 2px;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
}


@media (min-width:1441px) {
	.overlay nav {
		font-size:65px;
	}
	
	.overlay ul li {
		margin-bottom: 55px;
	}
	
	.overlay-menu a:after {
		margin-top:5px;
	}
	
	
}






